########################################
# SPSH Application Code
########################################
/src/                @dBildungsplattform/schulportal-sh
########################################
# Helm 
# CI/CD Pipelines
########################################
/charts/             @dBildungsplattform/sre-team
/.github/workflows/  @dBildungsplattform/sre-team
