nameOverride: ""
fullnameOverride: ""
namespaceOverride: ""

replicaCount: 1
image:
  repository: ghcr.io/dbildungsplattform/dbildungs-iam-keycloak
  tag: ""
  pullPolicy: Always 

auth:
  # existingSecret: Refers to a secret already present in the cluster, which is required for the authentication and configuration of the database setup tasks.
  existingSecret: ""
  secretName: dbildungs-iam-keycloak
  admin_password: ""
  admin_user: ""
  keycloak_adminSecret: ""
  keycloak_clientSecret: ""

command: []

extraEnvVars: []
extraVolumes: []
extraVolumeMounts: []

database:
  name: ""
  host: ""
  password: ""
  username: "spshdeveloper"

realm: 
  name: dbilduns-iam-keycloak-realm
  filepath: "dev-realm-spsh.json"

restartPolicy: Always

keycloakHostname: ""
frontendHostname: ""

containerSecurityContext:
  enabled: true
  runAsUser: 1000
  runAsNonRoot: true
  privileged: false
  readOnlyRootFilesystem: false
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]
  seccompProfile:
    type: "RuntimeDefault"

resources:
  limits:
    memory: "1Gi"
    cpu: "500m"
  requests:
    memory: "1Gi"
    cpu: "150m"

startupProbe:
  enabled: true
  httpGet:
    path: "/health/started"
    port: web
  periodSeconds: 10
  failureThreshold: 30

livenessProbe:
  enabled: true
  httpGet:
    path: /health/live
    port: web

readinessProbe:
  enabled: true
  httpGet:
    path: "/health/ready"
    port: web

ingress:
  ingressClassName: nginx
  path: /
  pathType: Prefix
  annotations:
    nginx.ingress.kubernetes.io/proxy-buffer-size: "16k"
    nginx.ingress.kubernetes.io/proxy-buffers-number: "4"

containerPorts:
  name: web
  http: 8080

service:
  type: ClusterIP
  http:
    enabled: true
  ports:
    http: 80
