.login-pf body {
  background: #ffffff;
  color: #001e49;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  font-weight: normal;
}

.login-pf-page {
  flex: 1;
  padding-top: 90px;
}

.dark-header {
  background: #001e49;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  left: 0;
  padding-left: 16px;
  padding-right: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1008;
}

.dark-header a {
  margin-bottom: auto;
  margin-top: auto;
}

.header-logo {
  box-sizing: border-box;
  display: block;
  -moz-box-sizing: border-box;
  margin-bottom: 7px;
}

.header-help {
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  font-size: 20px;
  -moz-box-sizing: border-box;
}

.light-header {
  background: #e5eaef;
  height: 40px;
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 1006;
}

.login-pf-header {
  font-size: 22px;
  font-weight: bold;
  max-width: 500px;
  min-width: 320px;
}

.login-pf-page .login-pf-header h1 {
  text-align: left;
}

.card-pf {
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 540px;
  min-width: 320px;
}

.title-logo {
  margin-top: 45px;
  text-align: center;
  width: 540px;
}

.light-footer {
  align-items: end;
  background-image: linear-gradient(to bottom right, #ffffff 25%, transparent 25%),
    linear-gradient(180deg, rgba(229, 234, 239, 1) 100%, transparent 100%);

  background-repeat: no-repeat, no-repeat;

  background-size:
    200% 80%,
    100% 100%;

  bottom: 0;
  display: flex;
  justify-content: space-around;
  min-height: 240px; /* Avoid footer shrinking vertically on smaller screen sizes*/
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
}

.footer-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}

.footer-item {
  color: #001e49;
  font-size: 18px;
  margin-right: 30px;
  text-decoration: none;
}

.footer-logos {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.footer-logo {
  width: 220px;
}

.footer-logo-divider {
  background-color: #001e49;
  bottom: 50px;
  display: inline-flex;
  height: 110px;
  left: 50%;
  margin-left: 10px;
  width: 2px;
}

.dark-footer {
  background: #001e49;
  bottom: 0;
  height: 22px;
  left: 0;
  position: fixed;
  width: 100%;
}

@media (max-width: 1279px) {
  .light-footer {
    flex-direction: column-reverse;
    min-height: 280px;
    background-size:
      200% 50%,
      100% 100%;
  }

  .footer-item {
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer-logos {
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
  }

  .footer-logo {
    height: 100px;
    width: 170px;
  }

  .footer-logo-divider {
    bottom: 160px;
    height: 100px;
  }
}

@media (max-width: 767px) {
  .header-logo {
    background: url(../img/Schulportal_SH_Bildmarke_RGB_Anwendung_HG_Blau.svg) no-repeat;
    height: 33px;
    /* this padding is necessary to move the old image out of the viewport */
    padding-left: 33px;
    width: 33px;
  }

  .header-help {
    background: url(../img/help-circle-outline.svg) 0 0 no-repeat;
    height: 24px;
    margin-right: 8px;
    text-indent:-99999em;
    width: 24px;
  }

  .login-pf-page .card-pf {
    max-width: 320px;
    padding: 6.25rem 0;
  }

  .title-logo {
    width: 320px;
  }

  .footer-items {
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer-item {
    font-size: 16px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .login-pf-page .card-pf {
    padding: 6.25rem 0;
  }
}